<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Accueil</li>
            <li>
                <a class="has-arrow" href="/" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Accueil</span>
                </a>
               
            </li>
            
            <li class="nav-label">Apps</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                </a>
                <ul >
                    <li><a href="/message">Messagerie</a></li>
                    
                    <li><a href="/compose">Compose</a></li>
                    <li><a href="/composer">Composer</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Apps</span>
                </a>
                <!-- <ul aria-expanded="false">
                    <li><a href="./app-profile.html">Profile</a></li>
                    <li><a href="./app-calender.html">Calender</a></li>
                </ul> -->
            </li>
            
            
           {% if session['function']  == 'admin' %}
            <li class="nav-label">Forms</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <!-- <li><a href="/addP">ADD </a></li> -->
                    <li><a href="/module">ajouter mobule</a></li>
                    <!-- <li><a href="./form-validation.html">Form Validation</a></li>
                    <li><a href="./form-step.html">Step Form</a></li>
                    <li><a href="./form-editor.html">Editor</a></li>
                    <li><a href="./form-picker.html">Picker</a></li> -->
                </ul>
            </li>
            {%endif%}

            <li class="nav-label">Table</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    {% if session['function'] == 'admin'%}
                    <li><a href="listM" aria-expanded="false">Liste des Modules</a></li>
                    {%endif%}
                    <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
                </ul>
            </li>
            <li class="nav-label">Pages</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/deco">Deconnexion</a></li>  
                </ul>
            </li>
        </ul>
    </div>
</div>